
.selectize-dropdown {font-size: 75% !important; 
                     line-height: 10px !important; 
                     background-color: #CCCCCC}
.selectize-input div.item + input { display: inline-block !important; }
.selectize-input, .selectize-input.dropdown-active, .selectize-dropdown {
    border-radius: 0;
  }
.selectize-input { 
    font-size: 75%;
    line-height: 10px;
    height: 10px; 
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 20px;
}
.selectize-input input[type=text] { height: 12px !important;
                        background-color: #CCCCCC} 
 
.navbar {margin-bottom: 0;}
.multicol {-webkit-column-count: 3; /* Chrome, Safari, Opera */
           -moz-column-count: 3; /* Firefox */
           column-count: 3;}
                                           
                                           
img {
      border: 1;
      max-width: 100%;
      margin-top:50px;
}
element.style {
    width: 33.33%;
}